<script type="text/x-handlebars">
    <ul>
      <li>{{#link-to 'about'}}About{{/link-to}}</li>
    </ul>

    {{outlet}}
</script>


<% if false %>
<script type="text/x-handlebars" id="posts">
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span3">
        <table class='table'>
          <thead>
            <tr><th>Recent Posts</th></tr>
          </thead>
          {{#each model}}
          <tr><td>
              {{#link-to 'post' this}}{{title}} <small class='muted'>by {{author.name}}</small>{{/link-to}}
          </td></tr>
          {{/each}}
        </table>
      </div>
      <div class="span9">
        {{outlet}}
      </div>
    </div>
  </div>
</script>

<script type="text/x-handlebars" id="posts/index">
  <p class="text-warning">Please select a post</p>
</script>

<script type="text/x-handlebars" id="post">
  {{#if isEditing}}
    {{partial 'post/edit'}}
    <button {{action 'doneEditing'}}>Done</button>
  {{else}}
    <button {{action 'edit'}}>Edit</button>
  {{/if}}
  <h1>{{title}}</h1>
  <h2>by {{author.name}} <small class='muted'>({{format-date date}})</small></h2>
  <hr>

  <div class='intro'>
    {{format-markdown excerpt}}
  </div>

  <div class='below-the-fold'>
    {{format-markdown body}}
  </div>
</script>

<script type="text/x-handlebars" id="post/_edit">
  <p>{{input type="text" value=title}}</p>
  <p>{{input type="text" value=excerpt}}</p>
  <p>{{textarea value=body}}</p>
</script>

    <% end %>
  <script type="text/x-handlebars" id="about">
    <div class='about'>
      <p>Hello world!</p>
    </div>
  </script>


<script src="http://cdnjs.cloudflare.com/ajax/libs/showdown/0.3.1/showdown.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.1.0/moment.min.js"></script>
<%= javascript_include_tag 'ispracticeon' %>
<%= javascript_include_tag 'handlebars' %>
<%= javascript_include_tag 'ember' %>

