<div class="row featurette" id="practices">
  <div class="col-md-7">
    <h2 class="featurette-heading">Practices</h2>
    <p class="lead">
      Water practices:<br />
      Wednesday 6:30PM-8:30PM at <a href="http://goo.gl/maps/A0ub8" target="_blank">World's Fair Marina</a><br />
      Saturday 10:00AM - 12:00PM at <a href="http://goo.gl/maps/A0ub8" target="_blank">World's Fair Marina</a><br />
      Sunday 10:00AM - 12:00PM at <a href="http://goo.gl/maps/A0ub8" target="_blank">World's Fair Marina</a><br />
    </p>
    <p class="lead">
      Land practices (off-season):<br />
      Sunday 3-6PM at <a href="http://goo.gl/maps/UeeBs" target="_blank">John Bowne High School</a>. Meet in the volleyball gym.<br />
    </p>
  </div>
  <div class="col-md-5">
    <embed width="600" height="361" type="application/x-shockwave-flash" allowFullscreen="true" allowNetworking="all" wmode="transparent" src="http://static.photobucket.com/player.swf" flashvars="file=http%3A%2F%2Fvid970.photobucket.com%2Falbums%2Fae184%2FPuff_Magic_Dragon_2009%2Fpractice7-1-12.mp4">
  </div>
</div>

<hr class="featurette-divider">

<div class="row featurette" id="races">
  <div class="col-md-5">
    <img class="featurette-image img-responsive" src="<%= asset_path('hkdbf-engine.jpg')%>" >
  </div>
  <div class="col-md-7">
    <h2 class="featurette-heading">Races</h2>
    <p class="lead">
      <ul>
        <li><a href="http://www.dragonboatdc.com/" target="_blank">Washington D.C. Dragon Boat Festival</a> - May 18-19, 2013</li>
        <li><a href="http://fingerlakesdragonboat.org/" target="_blank">Finger Lakes International Dragon Boat Festival</a> - July 13-14, 2013</li>
        <li><a href="http://www.springfielddragonboat.com/" target="_blank">Springfield Dragon Boat Races</a> - July 20, 2013</li>
        <li><a href="http://www.hkdbf-ny.org/home.php?choice=results" target="_blank">Hong Kong Dragon Boat Festival in New York</a> - August 10-11, 2013</li>
        <li><a href="http://riverfront.org/events/riverfront-dragon-boat-asian-festival" target="_blank">Riverfront Dragon Boat Festival</a> - August 16-17, 2013</li>
        <li><a href="http://www.dragonboatri.com/" target="_blank">Rhode Island Chinese Dragon Boat Races</a> - September 7, 2013</li>
        <li><a href="http://www.gwndragonboat.com/Default.asp?id=18&l=1" target="_blank">Mercer County Dragon Boat Festival</a> - September 14-15, 2013</li>
      </ul>
    </p>
  </div>
</div>


 <!-- Marketing messaging and featurettes
 ================================================== -->
 <!-- Wrap the rest of the page in another container to center all the content. -->

 <div class="container marketing">

   <!-- FOOTER -->
   <footer>
     <p class="pull-right"><a href="#">Back to top</a></p>
     <p>&copy; 2013 Puff Puff Dragons, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
   </footer>

 </div><!-- /.container -->
