<div class="row featurette" id="water-practice">
  <div class="col-md-7">
    <h2 class="featurette-heading">Water Practice. <span class="text-muted">May - Oct</span></h2>
    <p class="lead">
      Practices are held at the <a href="http://goo.gl/maps/A0ub8" target="_blank">World's Fair Marina</a> right next door to Mets Stadium. Practices are on <strong>Sundays from 9am-12pm</strong>
      <br />
      <em>Directions</em>: Take the 7 train to Mets Stadium – Willets Point. Walk into the parking lot towards the stadium. You’ll reach a 4-way traffic light and continue underneath the highway underpass to reach the Marina.
    </p>
  </div>
  <div class="col-md-5">
    <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=d&amp;source=s_q&amp;hl=en&amp;geocode=%3BCQ_blQYYE3KtFYXybQIdsCaZ-yl17Py85l_CiTGlS-Zf740hgg&amp;q=World's+Fair+Marina,+Willets+Point,+NY&amp;aq=0&amp;oq=world's+fair+&amp;sll=40.748395,-73.847308&amp;sspn=0.025814,0.048108&amp;ie=UTF8&amp;hq=&amp;hnear=World's+Fair+Marina,+Flushing,+Queens,+New+York+11368&amp;t=m&amp;daddr=World's+Fair+Marina,+Flushing,+NY+11368&amp;ll=40.759941,-73.849168&amp;spn=0.006295,0.008311&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?f=d&amp;source=embed&amp;hl=en&amp;geocode=%3BCQ_blQYYE3KtFYXybQIdsCaZ-yl17Py85l_CiTGlS-Zf740hgg&amp;q=World's+Fair+Marina,+Willets+Point,+NY&amp;aq=0&amp;oq=world's+fair+&amp;sll=40.748395,-73.847308&amp;sspn=0.025814,0.048108&amp;ie=UTF8&amp;hq=&amp;hnear=World's+Fair+Marina,+Flushing,+Queens,+New+York+11368&amp;t=m&amp;daddr=World's+Fair+Marina,+Flushing,+NY+11368&amp;ll=40.759941,-73.849168&amp;spn=0.006295,0.008311" style="color:#0000FF;text-align:left">View Larger Map</a></small>
  </div>
</div>

<hr class="featurette-divider">

<div class="row featurette" id="outrigger-canoe">
  <div class="col-md-5">
    <img class="featurette-image img-responsive" src="<%= asset_path('ocs.jpg')%>" >
  </div>
  <div class="col-md-7">
    <h2 class="featurette-heading">Outrigger Canoe (OC)</h2>
    <p class="lead">
      OC'ing is one of the fastest way to enhancing your dragonboat paddling skills. Lucky for us, our sister club
      <a href="http://nycwfmcc.com" target="_blank">World's Fair Marina Canoe Club</a> provides paddlers with a unique training opportunity.
      You can paddle on an OC-2 and get one-on-one coaching instruction, or go solo and paddle on on OC-1. OC paddling slots are posted on the <a href="https://www.facebook.com/groups/WorldsFairOC1/?fref=ts" target="_blank">WFMCC Facebook page.</a>
    </p>
  </div>
</div>

<hr class="featurette-divider">

<div class="row featurette" id="land-practice">
  <div class="col-md-7">
    <h2 class="featurette-heading">Land Practice. <span class="text-muted">Jan - Apr</span></h2>
    <p class="lead">
        Workouts are held at <a href="http://goo.gl/maps/UeeBs" target="_blank">John Bowne High School in Flushing</a>. Practices are on <strong>Sundays from 3-6PM</strong> inside the volleyball gym.
        Join in for a fun team workout that includes cardio, HIIT interval training, Crossfit, plyometrics, and ERG rowing machine.
    </p>
  </div>
  <div class="col-md-5">
    <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=63-25+Main+St,+Flushing,+NY+%E2%80%8E&amp;aq=&amp;sll=40.738429,-73.824434&amp;sspn=0.011153,0.015664&amp;ie=UTF8&amp;hq=&amp;hnear=63-25+Main+St,+Queens,+New+York+11367&amp;ll=40.738429,-73.824434&amp;spn=0.011153,0.015664&amp;t=m&amp;z=14&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=63-25+Main+St,+Flushing,+NY+%E2%80%8E&amp;aq=&amp;sll=40.738429,-73.824434&amp;sspn=0.011153,0.015664&amp;ie=UTF8&amp;hq=&amp;hnear=63-25+Main+St,+Queens,+New+York+11367&amp;ll=40.738429,-73.824434&amp;spn=0.011153,0.015664&amp;t=m&amp;z=14" style="color:#0000FF;text-align:left">View Larger Map</a></small>
  </div>
</div>

<hr class="featurette-divider">

<div class="row featurette" id="erg-rowing">
  <div class="col-md-5">
    <img class="featurette-image img-responsive" src="<%= asset_path('indoor_erg.jpg')%>" >
  </div>
  <div class="col-md-7">
    <h2 class="featurette-heading">Indoor ERG Rowing</h2>
    <p class="lead">
      The ERG Rowing machine is a modified Concept 2 Rowing machine with a dragonboat paddle attachment.
      It helps develop cardiovascular strength and paddling endurance during the off-season.
      We also compete in the annual <a href="http://www.erdba.org/" target="_blank">ERDBA Indoor ERG Regatta</a> in New York City.
    </p>
  </div>
</div>
